@use "../abstract";
.checkout-page {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;

  &__breadcrumbs {
    background: var(--checkout-breadcrumbs-bg);
  }
}

.checkout-container {
  margin-top: 30px;
  @include abstract.screen(md) {
    margin-top: 20px;
  }
}

.cart-info {
  padding: 30px;
  border-radius: 20px;
  background: var(--checkout-cart-info-bg);
  box-shadow: 0px 20px 60px 10px var(--checkout-cart-info-shadow);

  @include abstract.screen(md) {
    padding: 16px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }

  &__heading {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.41;
  }

  &__sub-heading {
    margin-top: 30px;
    margin-bottom: 30px;

    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.44;
  }

  &__list {
    margin-top: -30px;
    @include abstract.screen(md) {
      margin-top: -16px;
    }
  }

  &__bottom {
    margin-top: 30px;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 10px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.44;

    &--bold {
      font-size: 2.2rem;
      font-weight: 700;
    }
  }

  &__separate {
    margin: 30px 0;
    height: 1px;
    background: var(--checkout-border);
  }

  &__continue {
    height: 100%;
    display: flex;
    align-items: flex-end;

    &-icon {
      rotate: 90deg;
      transition: translate 0.3s;
    }
  }

  &__link {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.44;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__link:hover &__continue-icon {
    translate: -5px;
  }

  &__sub-label {
    font-weight: 400;
  }

  &__next-btn {
    margin-top: 30px;
  }

  &__control-btn {
    display: flex;
    align-items: center;
    gap: 10px;

    color: #9e9da8;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;

    &:first-child {
      margin-right: 10px;
    }
  }

  &__checkbox {
    &-input {
      appearance: none;

      &::before {
        content: url("../icons/checkbox-uncheck.svg");
      }

      &:not(:checked)::before {
        filter: var(--icon-color);
      }

      &:checked::before {
        content: url("../icons/checkbox-checked.svg");
      }
    }
  }

  &__desc {
    margin-top: 6px;
    font-size: 1.5rem;
    line-height: 1.46;
  }

  &__form {
    margin-bottom: 30px;
  }

  &__check-all {
    margin: 30px 0;
  }
}

.cart-item {
  display: flex;
  gap: 30px;
  padding: 30px 0;
  border-bottom: 2px solid var(--checkout-border);

  @include abstract.screen(md) {
    padding: 16px 0;
    gap: 16px;

    &:last-child {
      border: none;
    }
  }

  &__thumb {
    width: 175px;
    height: 175px;
    object-fit: contain;

    @include abstract.screen(xxl) {
      width: 150px;
      height: 150px;
    }

    @include abstract.screen(lg) {
      width: 100px;
      height: 100px;
    }

    @include abstract.screen(md) {
      width: 60px;
      height: 60px;
    }
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.44;
    max-width: 374px;
    @include abstract.screen(md) {
      max-width: 300px;
    }
  }

  &__price-wrap {
    margin-top: 16px;
    margin-bottom: 16px;
    color: #9e9da8;

    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.44;
  }

  &__status {
    color: #67b044;
  }

  &__control {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: auto;
    min-height: 44px;

    @include abstract.screen(sm) {
      gap: 10px;
    }

    &--md-block {
      @include abstract.screen(md) {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
      }
    }

    &--xl-block {
      @include abstract.screen(xl) {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
      }
    }

    &-btn {
      display: flex;
      align-items: center;
    }
  }

  &__checkout-btn {
    margin-top: auto;

    @include abstract.screen(md) {
      max-width: 200px;
    }
  }

  &__input {
    display: flex;
    align-items: center;
    height: 44px;
    padding: 0 20px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #d2d1d6;
    font-size: 1.5rem;
    line-height: 1.46;
    font-weight: 500;

    &-btn {
      display: flex;
    }
  }

  &__content {
    flex-grow: 1;
    display: flex;
    align-self: flex-start;

    &-left {
      flex: 1;
    }

    &-right {
      display: flex;
      flex-direction: column;

      @include abstract.screen(md) {
        margin-top: 16px;
      }
    }

    @include abstract.screen(md) {
      flex-direction: column;
    }
  }

  &__total {
    color: #1a162e;
    text-align: right;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.45;

    @include abstract.screen(md) {
      text-align: left;
      margin-bottom: 16px;
    }
  }
}

.cart-info + .cart-info {
  margin-top: 30px;
}

.gift-item {
  display: flex;
  gap: 20px;

  &__icon-wrap {
    width: 76px;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 14px;
    background: rgba(118, 68, 225, 0.1);
    box-shadow: 0px 20px 60px 10px var(--gift-shadow);
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.44;
  }

  &__desc {
    margin-top: 10px;

    font-size: 1.4rem;
    line-height: 20px;
  }
}

.user-address {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    @include abstract.screen(md) {
      flex-direction: column;
      align-items: flex-start;
    }

    &__btn {
      @include abstract.screen(md) {
        height: 46px;
      }
    }
  }

  &__list {
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.44;
  }

  &__desc {
    margin-top: 4px;
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
}

.address-card {
  margin-top: 30px;
  display: flex;
  gap: 16px;

  @include abstract.screen(md) {
    flex-direction: column;
  }

  &__left {
    flex-grow: 1;
    display: flex;
    gap: 16px;
  }

  &__info {
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.44;
  }

  &__desc {
    width: min(520px, 90%);
    margin-top: 4px;
    font-size: 1.5rem;
    line-height: 2.2rem;
  }

  &__list {
    display: flex;
    list-style: disc inside;
    gap: 30px;
    margin-top: 20px;
    margin-left: 8px;

    @include abstract.screen(sm) {
      flex-direction: column;
      gap: 12px;
    }
  }

  &__control {
    height: 100%;
    display: flex;
    align-items: flex-end;

    &-btn {
      display: flex;
      align-items: center;
      gap: 10px;

      font-size: 1.8rem;
      line-height: 1.44;
    }
  }

  &__checkbox {
    &-input {
      appearance: none;

      &::before {
        content: url("../icons/checkbox-uncheck.svg");
      }

      &:not(:checked)::before {
        filter: var(--icon-color);
      }

      &:checked::before {
        content: url("../icons/checkbox-checked.svg");
      }
    }
  }
}

.payment-item {
  display: flex;
  align-items: center;
  margin-top: 30px;
  padding: 20px;
  border-radius: 20px;
  background: var(--payment-item-bg);
  gap: 20px;

  @include abstract.screen(sm) {
    align-items: initial;
  }

  &__thumb {
    width: 70px;
    height: 54px;
    object-fit: cover;
  }

  &__content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 20px;

    @include abstract.screen(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__info {
    flex-grow: 1;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.44;
  }

  &__desc {
    margin-top: 4px;
    font-size: 1.5rem;
    line-height: 1.44;
  }

  &__detail {
    color: #0071dc;
    font-size: 1.5rem;
    line-height: 1.44;
    padding: 8px;
    padding-right: 0;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 14px;

    &-input:checked + .payment-item__cost {
      color: inherit;
    }
  }

  &__cost {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.44;
    color: #9e9da8;
  }

  &--pointer {
    cursor: pointer;
  }
}
