<div class="container footer__inner">
  <div class="row row-cols-5 row-cols-lg-3 row-cols-sm-2">
    <div class="col">
      <h2 class="footer__title">Support</h2>
      <ul class="footer__list">
        <li>
          <a href="#!" class="footer__link">Help center</a>
        </li>
        <li>
          <a href="#!" class="footer__link">FAQ</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Live chat</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Gift card</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Track Order</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Return Policy</a>
        </li>
      </ul>
    </div>
    <div class="col">
      <h2 class="footer__title">Resource</h2>
      <ul class="footer__list">
        <li>
          <a href="#!" class="footer__link">Blog</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Case studies</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Whitepapers</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Webinar</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Guides</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Comunity</a>
        </li>
      </ul>
    </div>
    <div class="col">
      <h2 class="footer__title">Company</h2>
      <ul class="footer__list">
        <li>
          <a href="#!" class="footer__link">Contact</a>
        </li>
        <li>
          <a href="#!" class="footer__link">About</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Events</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Careers</a>
        </li>
        <li>
          <a href="#!" class="footer__link">News</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Press</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Private Policy</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Investor Relation</a>
        </li>
      </ul>
    </div>
    <div class="col">
      <h2 class="footer__title">Account</h2>
      <ul class="footer__list">
        <li>
          <a href="#!" class="footer__link">My Account</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Account Settings</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Payment</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Subscriptions</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Password Recovery</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Dashboard</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Preferences</a>
        </li>
      </ul>
      <h2 class="footer__title">Education</h2>
      <ul class="footer__list">
        <li>
          <a href="#!" class="footer__link">Education Apps</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Devices for Education</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Educational Resources</a>
        </li>
      </ul>
    </div>
    <div class="col">
      <h2 class="footer__title">Sustainability</h2>
      <ul class="footer__list">
        <li>
          <a href="#!" class="footer__link">Environment Initiatives</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Carbon Footprint</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Community Engagement</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Subscriptions</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Green Policy</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Values and Mission</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Renewable Energy</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row row-cols-3 row-cols-sm-1 footer__bottom">
    <div class="col">
      <!-- Logo -->
      <a href="./" class="logo">
        <img
          src="./assets/icons/logo.svg"
          alt="grocerymart"
          class="logo__img"
        />
        <h1 class="logo__title">grocerymart</h1>
      </a>
    </div>
    <div class="col">
      <div class="footer__guides">
        <a href="#!">Status</a>
        <a href="#!">Manage Cookies</a>
        <a href="#!">Trademarks</a>
        <a href="#!">Legal</a>
        <a href="#!">Sitemap</a>
      </div>
    </div>
    <div class="col">Grocery Mart Inc, All rights reserved.</div>
  </div>
</div>
